<!--NAVIGATION PANEL-->
<nav class="navbar navbar-expand-lg fixed-top shadow-sm">
  <div class="container-fluid px-4">
    <a class="navbar-brand brand_logo fw-bold fs-4" href="home.html">ZLAGODA</a>
    <button
      class="navbar-toggler border-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a
            class="nav-link text-white fw-semibold"
            href="../shared/produce.html"
            >Товари</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fw-semibold"
            href="../shared/store_produce.html"
            >Товари в магазині</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" href="prod_group.html"
            >Категорії</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fw-semibold"
            href="../shared/checks.html"
            >Чеки</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold" href="workers.html"
            >Працівники</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fw-semibold"
            href="../shared/customers.html"
            >Клієнти</a
          >
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <span
        class="navbar-text text-white me-3 d-none d-sm-inline"
        id="userNameDisplay"
      ></span>
      <button class="btn btn_nav btn-sm fw-bold px-3 py-2" id="logoutBtn">
        Вийти
      </button>
    </div>
  </div>
</nav>
