<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Товари</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>
  <body class="manager_layout">
    <div id="navbar_placeholder"></div>

    <main class="container mt-5">
      <h2 class="mb-4 fw-bold">Каталог товарів</h2>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="input-group search-container">
          <span class="input-group-text bg-white border-0 ps-3">
            <i class="bi bi-search icon-zlagoda"></i>
          </span>
          <input
            type="text"
            id="productSearch"
            class="form-control border-0 shadow-none ps-2"
            placeholder="Пошук за назвою"
          />
        </div>
        <div class="d-flex align-items-center gap-3">
          <button
            class="btn-filter-ghost"
            onclick="openFilterModal('products')"
            title="Фільтри"
          >
            <i class="bi bi-funnel fs-4"></i>
          </button>
          <button
            class="btn btn_star"
            id="btnBestsellers"
            title="Абсолютні бестселери"
          >
            <i class="bi bi-star"></i>
          </button>
          <button
            class="btn btn-primary btn-add-new fw-bold px-4 py-2 shadow-sm rounded-3"
            data-bs-toggle="modal"
            data-bs-target="#addProductModal"
          >
            + Додати товар
          </button>
          <button
            class="btn btn-outline-secondary btn_printer fw-bold px-4 py-2 shadow-sm rounded-3 bg-white"
            onclick="generateReport('Товари', 'productTableBody')"
          >
            <i class="bi bi-printer me-2"></i>Друк звіту
          </button>
        </div>
      </div>

      <div class="card border-0 shadow-sm rounded-4 mt-5">
        <div class="card-body p-0">
          <table class="table table-hover mb-0">
            <thead class="zlagoda_table_header">
              <tr>
                <th class="ps-4">ID</th>
                <th class="sortable-header" onclick="handleSort('products')">
                  Назва товару
                  <i class="bi bi-arrow-down-up small text-muted ms-1"> </i>
                </th>
                <th>Виробник</th>
                <th>Характеристики</th>
                <th>Категорія</th>
                <th class="text-end pe-4 cashier-hide-col">Дії</th>
              </tr>
            </thead>
            <tbody id="productTableBody"></tbody>
          </table>
        </div>
      </div>
    </main>

    <div
      class="modal fade"
      id="addProductModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 rounded-4">
          <div class="modal-header border-0">
            <h5 class="modal-title fw-bold">Новий товар</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <form id="addProductForm">
              <input type="hidden" id="editProductId" />
              <div class="mb-3">
                <label class="form-label fw-semibold">Назва товару*</label>
                <input
                  type="text"
                  class="form-control auth-input"
                  id="productNameInput"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label fw-semibold">Виробник*</label>
                <input
                  type="text"
                  class="form-control auth-input"
                  id="productManufacturerInput"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label fw-semibold">Характеристики</label>
                <textarea
                  class="form-control auth-input"
                  id="productCharsInput"
                  rows="2"
                ></textarea>
              </div>
              <div class="mb-3">
                <label class="form-label fw-semibold">Категорія*</label>
                <select
                  class="form-select auth-input"
                  id="categorySelectInput"
                  required
                >
                  <option value="" selected disabled>
                    Оберіть категорію...
                  </option>
                </select>
              </div>
              <div class="text-end">
                <button type="submit" class="btn btn-primary">Зберегти</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="modals_placeholder"></div>
    <script src="../../static/js/api.js"></script>
    <script src="../../static/js/utils.js"></script>
    <script src="../../static/js/filters.js"></script>
    <script src="../../static/js/pos.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
