<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Товари в магазині</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>
  <body class="manager_layout">
    <div id="navbar_placeholder"></div>

    <main class="container mt-5">
      <h2 class="mb-4 fw-bold">Наявність товарів у магазині</h2>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="input-group search-container">
          <span class="input-group-text bg-white border-0 ps-3">
            <i class="bi bi-search icon-zlagoda"></i>
          </span>
          <input
            type="text"
            id="storeProductSearch"
            class="form-control border-0 shadow-none ps-2"
            placeholder="Пошук за UPC"
          />
        </div>
        <div class="d-flex align-items-center gap-3">
          <button class="btn btn-outline-secondary fw-bold px-3 py-2 shadow-sm rounded-3 bg-white"
                  onclick="generateReport('Товари в магазині', 'storeProductTableBody')">
            <i class="bi bi-printer me-2"></i>Друк звіту
          </button>

          <button class="btn-filter-ghost" onclick="openFilterModal('store-products')" title="Фільтри">
            <i class="bi bi-funnel fs-4"></i>
          </button>
          <button class="btn btn-primary btn-add-new fw-bold px-4 py-2 shadow-sm rounded-3" data-bs-toggle="modal" data-bs-target="#addStoreProductModal">
            + Додати партію товару
          </button>
        </div>
      </div>

      <!--TABLE-->
      <div class="card border-0 shadow-sm rounded-4 mt-5">
        <div class="card-body p-0">
          <table class="table table-hover mb-0">
            <thead class="zlagoda_table_header">
              <tr>
                <th class="ps-4">UPC</th>
                <th
                  class="sortable-header"
                  onclick="
                    sortTableData(
                      mockStoreProducts,
                      'productName',
                      'string',
                      renderStoreProducts,
                    )
                  "
                >
                  Назва товару
                  <i class="bi bi-arrow-down-up small text-muted ms-1"></i>
                </th>
                <th>Ціна</th>
                <th
                  class="sortable-header"
                  onclick="
                    sortTableData(
                      mockStoreProducts,
                      'products_number',
                      'number',
                      renderStoreProducts,
                    )
                  "
                >
                  Кількість
                  <i class="bi bi-arrow-down-up small text-muted ms-1"></i>
                </th>
                <th>Акція</th>
                <th class="text-end pe-4 cashier-hide-col">Дії</th>
              </tr>
            </thead>
            <tbody id="storeProductTableBody"></tbody>
          </table>
        </div>
      </div>
    </main>

    <!--WINDOW FOR ADDING STORE PRODUCT-->
    <div
      class="modal fade"
      id="addStoreProductModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 rounded-4">
          <div class="modal-header border-0 pb-0">
            <h5 class="modal-title fw-bold">Товар на полиці</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body p-4">
            <form id="addStoreProductForm">
              <input type="hidden" id="isEditMode" value="false" />

              <div class="row g-3 mb-4">
                <div class="col-md-6">
                  <label class="form-label small fw-bold">UPC*</label>
                  <input
                    type="text"
                    class="form-control auth-input text-uppercase"
                    id="spUpcInput"
                    maxlength="12"
                    placeholder="Напр. 123456789012"
                    required
                  />
                  <div class="form-text small">До 12 символів.</div>
                </div>
                <div class="col-md-6">
                  <label class="form-label small fw-bold"
                    >Оберіть товар з довідника*</label
                  >
                  <select
                    class="form-select auth-input"
                    id="spProductSelect"
                    required
                  ></select>
                </div>
              </div>

              <div class="row g-3 mb-4 align-items-end">
                <div class="col-md-4">
                  <label class="form-label small fw-bold">Ціна продажу*</label>
                  <input
                    type="number"
                    step="0.01"
                    min="0"
                    class="form-control auth-input"
                    id="spPriceInput"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label small fw-bold"
                    >Кількість одиниць*</label
                  >
                  <input
                    type="number"
                    min="0"
                    class="form-control auth-input"
                    id="spQuantityInput"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label small fw-bold mb-2"
                      >Акційний товар</label
                    >
                    <div
                      class="form-check form-switch d-flex align-items-center ps-0 m-0"
                    >
                      <input
                        class="form-check-input mt-0 ms-0 me-2 zlagoda-switch"
                        type="checkbox"
                        role="switch"
                        id="spPromoInput"
                      />
                      <span class="text-muted small mb-0" id="promoStatusText"
                        >Ні</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="d-flex justify-content-end align-items-center gap-3 border-top pt-3"
              >
                <span id="spAlertMessage" class="small fw-bold"></span>
                <button type="submit" class="btn btn-primary px-5 py-2 fw-bold">
                  Зберегти
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="modals_placeholder"></div>
    <script src="../../static/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
