<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Працівники</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/uk.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>
  <body class="manager_layout">
    <div id="navbar_placeholder"></div>

    <main class="container mt-5">
      <h2 class="mb-4 fw-bold">Персонал магазину</h2>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="input-group search-container">
          <span class="input-group-text bg-white border-0 ps-3">
            <i class="bi bi-search icon-zlagoda"></i>
          </span>
          <input
            type="text"
            id="employeeSearch"
            class="form-control border-0 shadow-none ps-2"
            placeholder="Пошук за прізвищем"
          />
        </div>
        <div class="d-flex align-items-center gap-3">
          <button
            class="btn-filter-ghost"
            onclick="openFilterModal('employees')"
            title="Фільтри"
          >
            <i class="bi bi-funnel fs-4"></i>
          </button>
          <button
            class="btn btn-primary fw-bold px-4 py-2 shadow-sm rounded-3"
            data-bs-toggle="modal"
            data-bs-target="#addEmployeeModal"
          >
            + Додати працівника
          </button>
          <button
            class="btn btn-outline-secondary btn_printer fw-bold px-4 py-2 shadow-sm rounded-3 bg-white"
            onclick="generateReport('Персонал магазину', 'employeeTableBody')"
          >
            <i class="bi bi-printer me-2"></i>Друк звіту
          </button>
        </div>
      </div>

      <!--TABLE-->
      <div class="card border-0 shadow-sm rounded-4 mt-5">
        <div class="card-body p-0">
          <table class="table table-hover mb-0">
            <thead class="zlagoda_table_header">
              <tr>
                <th class="ps-4">ID</th>
                <th class="sortable-header" onclick="handleSort('employees')">
                    ПІБ
                    <i class="bi bi-arrow-down-up small text-muted ms-1">
                    </i>
                </th>
                <th>Посада</th>
                <th>Телефон</th>
                <th>Зарплата</th>
                <th class="text-end pe-4">Дії</th>
              </tr>
            </thead>
            <tbody id="employeeTableBody"></tbody>
          </table>
        </div>
      </div>
    </main>

    <!--WINDOW FOR NEW EMPLOYEE-->
    <div
      class="modal fade"
      id="addEmployeeModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 rounded-4">
          <div class="modal-header border-0 pb-0">
            <h5 class="modal-title fw-bold">Картка працівника</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body p-4">
            <form id="addEmployeeForm">
              <input type="hidden" id="editEmployeeId" />
              <input type="hidden" id="emplRoleInput" value="Касир" />
              <div class="mb-4">
                <label class="form-label d-block mb-3 fw-bold text-center"
                  >Оберіть посаду</label
                >
                <div class="row g-2 justify-content-center">
                  <div class="col-6 col-sm-4">
                    <button
                      type="button"
                      class="btn btn-role-select active w-100 py-3"
                      data-role="Касир"
                    >
                      <i class="bi bi-person fs-3"></i>
                      <div class="fw-bold">Касир</div>
                    </button>
                  </div>
                  <div class="col-6 col-sm-4">
                    <button
                      type="button"
                      class="btn btn-role-select w-100 py-3"
                      data-role="Менеджер"
                    >
                      <i class="bi bi-person-badge fs-3"></i>
                      <div class="fw-bold">Менеджер</div>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row g-3 mb-3">
                <div class="col-md-4">
                  <label class="form-label small fw-bold">Прізвище*</label>
                  <input
                    type="text"
                    class="form-control auth-input"
                    id="emplSurnameInput"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label small fw-bold">Ім'я*</label>
                  <input
                    type="text"
                    class="form-control auth-input"
                    id="emplNameInput"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label small fw-bold">По батькові</label>
                  <input
                    type="text"
                    class="form-control auth-input"
                    id="emplPatronymicInput"
                  />
                </div>
              </div>

              <div class="row g-3 mb-3">
                <div class="col-md-4">
                <label class="form-label small fw-bold">Дата народження*</label>
                  <input
                    type="text"
                    class="form-control auth-input"
                    id="emplBirthInput"
                    placeholder="Оберіть дату"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label small fw-bold">Початок роботи*</label>
                  <input
                    type="text"
                    class="form-control auth-input"
                    id="emplStartInput"
                    placeholder="Оберіть дату"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label small fw-bold"
                    >Контактний тел.*</label
                  >
                  <input
                    type="tel"
                    class="form-control auth-input"
                    id="emplPhoneInput"
                    placeholder="+380..."
                    required
                  />
                </div>
              </div>
              <div class="row g-3 mb-4">
                <div class="col-md-4">
                  <label class="form-label small fw-bold"
                    >Зарплата (грн)*</label
                  >
                  <input
                    type="number"
                    class="form-control auth-input"
                    id="emplSalaryInput"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label small fw-bold"
                    >Пароль для входу*</label
                  >
                  <div class="position-relative">
                    <input
                      type="password"
                      class="form-control auth-input pe-5"
                      id="emplPasswordInput"
                      placeholder="Введіть пароль"
                      required
                    />
                    <i
                      class="bi bi-eye icon-zlagoda password-toggle-icon"
                      onclick="togglePasswordVisibility()"
                    ></i>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="form-label small fw-bold">Місто*</label>
                  <input
                    type="text"
                    class="form-control auth-input"
                    id="emplCityInput"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label small fw-bold"
                    >Вулиця та Індекс*</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control auth-input w-75"
                      id="emplStreetInput"
                      placeholder="вул..."
                      required
                    />
                    <input
                      type="text"
                      class="form-control auth-input w-25"
                      id="emplZipInput"
                      placeholder="00000"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="text-end border-top pt-3">
                <button type="submit" class="btn btn-primary px-5 py-2 fw-bold">
                  Зберегти працівника
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--WINDOW FOR VIEWING EMPLOYEE DETAILS-->
    <div
      class="modal fade"
      id="viewEmployeeModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 rounded-4 shadow-lg">
          <div class="modal-header border-0 rounded-top-4" id="v-header">
            <h5 class="modal-title fw-bold">Досьє працівника</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body p-4">
            <div class="text-center mb-4">
              <div class="display-1">
                <i class="bi bi-person-vcard icon_zlagoda"></i>
              </div>
              <div id="v-id" class="text-muted small mb-2"></div>
              <h4 id="v-fullName" class="fw-bold mb-1"></h4>
              <span id="v-role" class="badge-empl"></span>
            </div>
            <div class="row g-3">
              <div class="col-6">
                <p class="small text-muted mb-0">Телефон</p>
                <p id="v-phone" class="fw-semibold"></p>
              </div>
              <div class="col-6">
                <p class="small text-muted mb-0">Зарплата</p>
                <p id="v-salary" class="fw-semibold"></p>
              </div>
              <div class="col-6">
                <p class="small text-muted mb-0">Дата народження</p>
                <p id="v-birth" class="fw-semibold"></p>
              </div>
              <div class="col-6">
                <p class="small text-muted mb-0">Працює з</p>
                <p id="v-start" class="fw-semibold"></p>
              </div>
              <div class="col-12 border-top pt-2">
                <p class="small text-muted mb-0">Адреса</p>
                <p id="v-address" class="fw-semibold"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modals_placeholder"></div>
    <script src="../../static/js/api.js"></script>
    <script src="../../static/js/utils.js"></script>
    <script src="../../static/js/filters.js"></script>
    <script src="../../static/js/pos.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
